

.icones{
    text-align: center;
    color: black;
    font-family: verdana;
    padding: 10px;
    
}
.btn-saida{
	background-color: #dc3545;
	transition: all .2s;
	color: white;
}
.btn-entrada{
	background-color:#28a745;
	transition: all .2s;
	color: white;
}